/* Variables Sass */
$Gray: #F6F6F6;
$PrimaryColor: #FF6060;

.rotate {
  transition: transform 0.3s ease-in-out;
}

.rotate.rotate-180 {
  transform: rotate(180deg);
}

.Apropos .menu {
  width: 86%;
    display: flex;
    margin: auto;
    gap: 15px;
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
}

.menu {
  margin-bottom: 23px;

  font-size: 22px;

  font-weight: 400;


  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    ;
    width: 100%;
    align-items: center;
    gap: 20px;


  }
}


.menu_box {
  background-color: $PrimaryColor;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {

    height: 30px;

    align-content: center;
  }
}

.menu_animation {
  border-radius: 10px 10px 5px 5px;
  background: $Gray;
  transition: all 0.3s ease;
  margin: 0;
  color: $PrimaryColor;
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  width: 98%;
  margin-bottom: 25px;
}

.menu_visible {
  opacity: 1;
  max-height: 500px;
  transition: opacity 0.5s ease, max-height 0.3s ease, 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    ;
    width: 98%;
  }
}

.menu_hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.3s ease, 0.3s ease-in-out;
}

.Apropos .menu_animation {
  width: 83%;
  margin: auto;
  margin-top: -9px;
  @media screen and (max-width: 768px) {


    width: 99%;
  }
}